@use "global" as *;

.contact {
  padding-top: rem(90);
  padding-bottom: rem(90);
  background-color: $background-gray;

  @include mq(md) {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
}

.contact__inner {
}

.contact__title {
}

.contact__text-wrapper {
  text-align: center;
}

.contact__text {
  margin-top: rem(35);
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $medium;
  text-align: center;
  color: $black2;

  @include mq(md) {
    margin-top: rem(45);
    text-align: left;
  }
}

.contact__content {
  margin-top: rem(60);
  background-color: $background-gray;
  border-radius: rem(20);
  display: block;
  padding: rem(32);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); // アニメーションで浮かせる

  @include mq(md) {
    margin-top: rem(40);
    padding-left: rem(16);
    padding-right: rem(16);
    border-radius: rem(16);
  }
}

.contact__form {
  width: 100%;

  @include mq(md) {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
}
