@use "global" as *;

.faq {
  padding-top: rem(100);
  padding-bottom: rem(100);
  background-color: $background-white;

  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.faq__inner {
}

.faq__title {
}

.faq__lists {
  margin-top: rem(63);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.faq__list {
}

.faq__list:not(:first-of-type) {
  margin-top: rem(31.5);

  @include mq(md) {
    margin-top: rem(25);
  }
}
