@use "global" as *;

.first-view {
  height: clamp(rem(420), 52vw, rem(665));
  padding-top: rem(77);
  background-color: $background-white;
}

.first-view__inner {
  max-width: $inner + strip-unit($padding-pc) * 2;
  padding-right: rem(40);
  padding-left: rem(12);
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}

.first-view__content {
  display: flex;
  height: 100%;
  position: relative;
}

.first-view__catchphrase {
  /* 1440pxで501pxになるよう計算: 501/1440 = 0.348 → 34.8vw */
  // width: clamp(rem(420), 34.8vw, rem(501));
  // height: clamp(rem(420), 34.8vw, rem(501));
  width: rem(501);
  height: rem(501);
  background-color: $background-green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 10;
}

.first-view__catchphrase-text {
  // margin-top: clamp(rem(32), 3.6vw, rem(56));
  margin-top: rem(56);
  font-weight: $bold;
  font-family: $second-font-family;
}

.first-view__catchphrase-part {
  display: block;
  // font-size: clamp(rem(22), 2.6vw, rem(36));
  font-size: rem(36);
  line-height: 1.5;
  color: $white;
}

.first-view__catchphrase-part--strong {
  display: block;
  // margin-top: clamp(rem(16), 1.8vw, rem(23));
  // font-size: clamp(rem(28), 3.6vw, rem(48));
  margin-top: rem(23);
  font-size: rem(48);
  color: $green;
}

.first-view__visuals {
  position: absolute;
  top: rem(40);
  right: 0;
  width: auto;
  height: 100%;
  z-index: 30;
  flex-shrink: 0; /* flexコンテナの場合の縮小防止 */
}

.first-view__visual-image {
  width: clamp(rem(480), 61.5vw, rem(819));
  // width: rem(819);
  height: auto;
  display: block;
}

.first-view__visual-deco {
  position: absolute;
  top: rem(-120);
  right: rem(-15);
  // width: clamp(rem(140), 19.028vw, rem(274));
  width: rem(274);
  height: auto;
  pointer-events: none;
  z-index: 20;
}
