@use "global" as *;

.first-view {
  height: clamp(rem(420), 52vw, rem(665));
  padding-top: rem(77);
  background-color: $background-white;

  @include mq(md) {
    height: clamp(rem(300), 133.333vw, rem(670));
    padding-top: rem(45);
    padding-bottom: rem(26);
  }
}

.first-view__inner {
  max-width: $inner + strip-unit($padding-pc) * 2;
  padding-right: rem(40);
  padding-left: rem(12);
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    padding-right: rem(15);
    padding-left: rem(15);
  }
}

.first-view__content {
  position: relative;
  display: flex;
  align-items: center;

  @include mq(md) {
    flex-direction: column;
  }
}

.first-view__catchphrase {
  width: clamp(rem(450), 34.8vw, rem(501));
  height: clamp(rem(450), 34.8vw, rem(501));
  background-color: $background-green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 10;

  @include mq(md) {
    width: clamp(rem(200), 62.67vw, rem(350));
    height: clamp(rem(200), 62.67vw, rem(350));
  }
}

.first-view__catchphrase-text {
  margin-top: rem(56);
  font-family: $second-font-family;
  line-height: 1.5;
  font-weight: $bold;

  @include mq(md) {
    margin-top: clamp(rem(20), 6.93vw, rem(36));
  }
}

.first-view__catchphrase-part {
  display: block;
  font-size: rem(36);
  color: $white;

  @include mq(md) {
    font-size: clamp(rem(12), 4.27vw, rem(24));
  }
}

.first-view__catchphrase-part--strong {
  margin-top: clamp(rem(16), 1.8vw, rem(23));
  display: block;
  font-size: clamp(rem(28), 3.4vw, rem(48));
  color: $green;

  @include mq(md) {
    margin-top: rem(11);
    margin-top: clamp(rem(9), 2.93vw, rem(15));
    font-size: clamp(rem(18), 5.87vw, rem(36));
  }
}

.first-view__visuals {
  position: absolute;
  top: 8.5%;
  left: 67.6%;
  transform: translateX(-50%);
  width: clamp(rem(480), 61.5vw, rem(819));
  z-index: 30;

  @include mq(md) {
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(rem(250), 92vw, rem(550));
  }
}

.first-view__visual-wrapper {
  position: relative;
  display: grid;
  place-items: center;
}

.first-view__visual-wrapper::after {
  content: "";
  position: absolute;
  inline-size: rem(274);
  aspect-ratio: 1 / 1;
  inset-block-start: -4.5%; // = top: -4.5%
  inset-inline-end: 4%; // = right: 4%
  background-image: url("../images/common/first-view02.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  transform: translate(20%, -35%);
  z-index: 20;

  @include mq(md) {
    inline-size: clamp(rem(100), 30.67vw, rem(163));
    transform: translate(0, -195%);
    inset-block-start: -2%;
    inset-inline-end: 1.2%;
  }
}

.first-view__visual-image {
  display: block;
  width: clamp(rem(480), 61.5vw, rem(819));
  height: auto;

  @include mq(md) {
    width: clamp(rem(250), 92vw, rem(550));
  }
}
