@use "global" as *;

.footer {
  padding-top: rem(43);
  padding-bottom: rem(18);
  background-color: $background-green2;
  text-align: center;

  @include mq(md) {
    padding-top: rem(30);
    padding-bottom: rem(10);
  }
}

.footer__inner {
}

.footer__logo {
  margin: 0;
}

.footer__logo-link {
  display: inline-block;
}

.footer__logo-image {
  display: block;
  width: rem(83);
  height: auto;

  @include mq(md) {
    width: rem(46);
  }
}

.footer__copyright {
  display: block;
  margin-top: rem(40);
  font-size: rem(10);
  font-weight: $regular;
  color: $white;
  text-align: center;

  @include mq(md) {
    margin-top: rem(13);
  }
}
