@use "global" as *;

.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(105);
  background-color: $white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.22);

  @include mq(md) {
    height: rem(80);
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;

  max-width: $inner + strip-unit($padding-pc) * 2;
  padding-right: rem(10);
  padding-left: rem(30);
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}

.header__title {
  margin-right: auto;
}

.header__logo {
  display: block;
  width: clamp(rem(100), 11.112vw, rem(160));
  height: auto;
  aspect-ratio: 160 / 83;

  @include mq(md) {
    max-width: rem(86);
    padding-left: rem(6);
  }
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.header__item {
  height: inherit;
  padding-right: rem(37.5);
  padding-left: rem(37.5);
}

.header__item:last-child {
  padding-right: 0;
}

.header__link {
  font-family: $base-font-family;
  font-size: rem(16);
  letter-spacing: 0.05em;
  font-weight: $medium;
  color: $black2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

.header__link:hover {
  opacity: 0.7;
}
