@use "global" as *;

.introduction {
  background-color: $background-green;
  padding-top: rem(80);
  padding-bottom: rem(89);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.introduction__inner {
}

.introduction__content {
  display: flex;
  align-items: center;
}

.introduction__images {
  display: flex;
  align-items: center;
}

.introduction__image {
  /* 1440pxで242pxになるよう計算: 242/1440 = 0.168 → 16.8vw */
  max-width: clamp(rem(160), 16.85vw, rem(242));
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.introduction__image:not(:first-of-type) {
  margin-left: clamp(rem(20), 4.5vw, rem(64));
}

.introduction__text-area {
  margin-left: clamp(rem(28), 7.085vw, rem(105));
  font-family: $third-font-family;
  font-weight: $bold;
}

.introduction__title {
  font-size: clamp(rem(18), 2.2vw, rem(24));
  line-height: 1.7917;
  color: $black;
}

.introduction__text {
  margin-top: clamp(rem(12), 1.6vw, rem(18));
  font-size: clamp(rem(14), 1.8vw, rem(16));
  line-height: 2;
}

.introduction__button {
  margin-top: clamp(rem(18), 2.2vw, rem(26));
}
