@use "global" as *;

.plan {
  padding-top: rem(100);
  padding-bottom: rem(120);
  background-color: $background-white;

  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(40);
  }
}

.plan__inner {
}

.plan__title {
}

.plan__group {
  margin-top: rem(87);

  @include mq(md) {
    margin-top: rem(31);
  }
}

.plan__group.plan__group--spaced {
  margin-top: rem(162);

  @include mq(md) {
    margin-top: rem(60);
  }
}

.plan__group-label {
  margin: 0 auto;
}

.plan__items {
  margin-top: rem(100);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(30px, 3.75vw, 55px);

  @include mq(md) {
    margin-top: rem(40);
    flex-direction: column;
  }
}

.plan__items.plan__items--large {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  gap: clamp(30px, 3.61vw, 55px);
  margin-top: rem(60);
  height: auto;

  @include mq(md) {
    grid-template-columns: 1fr;
    margin-top: rem(43);
    justify-content: center;
    max-width: rem(400);
    margin-left: auto;
    margin-right: auto;
  }
}

.plan__item {
  height: 100%;
  display: flex; //追加
}

.plan__cta {
  height: rem(825);
  position: relative;

  @include mq(md) {
    margin-top: rem(101);
    height: clamp(rem(350), 146.13vw, rem(400));
  }
}

.plan__cta-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.plan__cta-visual {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: inherit;

  @include mq(md) {
    justify-content: center;
  }
}

.plan__cta-image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  @include mq(md) {
    max-width: rem(350);
  }
}

.plan__cta-image {
  @include mq(md) {
    width: auto;
    max-width: rem(213);
  }
}

.plan__cta-image img {
  width: 100%;
  height: auto;
}

.plan__cta-image--main {
  position: absolute;
  left: 0%;
  bottom: -14.5%;
  width: clamp(21rem, 35.8vw, 32.25rem);
  z-index: 10;
  // aspect-ratio: 516 / 774;

  @include mq(md) {
    display: none;
  }

  @include mq(lg) {
    left: -0.8%;
    bottom: -15%;
  }

  @include mq(xl) {
    left: -1.7%;
    bottom: -16.5%;
  }
}

.plan__cta-image--person1 {
  position: absolute;
  right: 11%;
  bottom: -26.2%;
  width: clamp(18rem, 37.5vw, 33.75rem);
  z-index: 10;
  // aspect-ratio: 540 / 810;

  @include mq(md) {
    // right: rem(60);
    // bottom: rem(10);
    right: 20%;
    bottom: 2.5%;
  }

  @include mq(lg) {
    bottom: -20%;
    right: 17%;
  }

  @include mq(xl) {
    bottom: -21.2%;
    right: 11%;
  }
}

.plan__cta-image--person2 {
  position: absolute;
  right: -1.5%;
  bottom: -26.6%;
  width: clamp(18.75rem, 39vw, 35.06rem);
  z-index: 10;
  // aspect-ratio: 561 / 842;

  @include mq(md) {
    // bottom: rem(5);
    // right: rem(-10);
    bottom: 1.25%;
    right: 0%;
  }

  @include mq(lg) {
    bottom: -21.5%;
    right: 0%;
  }

  @include mq(xl) {
    bottom: -23.4%;
    right: -7%;
  }
}

.plan-cta__bubble {
  background-color: $background-green;
  color: $black2;
  border-radius: 50%;
  width: rem(243);
  height: rem(243);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: rem(28);
  font-weight: $bold;
  line-height: 1.8;
  position: absolute;
  top: 16%;
  left: 37%;

  @include mq(md) {
    width: rem(96);
    height: rem(96);
    font-size: rem(12);
    line-height: 1.5;
    top: 0%;
    left: 5.5%;
  }

  @include mq(lg) {
    top: 18%;
    left: 35.5%;
  }
}

.plan-cta__bubble::after {
  content: "";
  position: absolute;
  bottom: 12%;
  right: -7%;
  transform: rotate(-45deg);
  border-width: rem(44) rem(16) 0 rem(44);
  border-style: solid;
  border-color: $background-green transparent transparent transparent;

  @include mq(md) {
    bottom: 20%;
    right: -12%;
    border-width: rem(16) rem(12.8) 0 rem(9.6);
    transform: rotate(-61deg);
  }
}

.plan-cta__action {
  text-align: center;
  z-index: 100;
}
