@use "global" as *;

.button {
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(24);
  font-weight: $max-bold;
  color: $white;
  letter-spacing: 0.1em;
  background-color: $orange;
  border-radius: rem(10);
  position: relative;
  text-align: center;
  padding: rem(12) rem(12);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.25s ease;
  box-shadow: 0 7px 12px rgba(35, 19, 5, 0.23);

  @include mq(md) {
    font-size: rem(16);
    padding: rem(10) rem(10);
  }
}

// 大なり ”＞” を作る
.button:after {
  position: absolute;
  top: rem(31);
  right: rem(34);
  width: rem(9);
  height: rem(9);
  content: "";
  border-top: 1.61px solid $white;
  border-right: 1.61px solid $white;
  transform: translateY(-50%) rotate(45deg);

  @include mq(md) {
    top: rem(22);
    right: rem(19.6);
    width: rem(7);
    height: rem(7);
  }
}

// ===================================
// LINEに誘導するボタン
// ===================================

.button--line {
  background-color: #06c755; // LINE公式グリーン
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
}

.button--line:hover,
.button--line:focus {
  background-color: darken(#06c755, 5%);
}

.button__icon img {
  display: block;
}

// ===================================
// thanksページのボタン
// ===================================

.button--thanks {
  width: 100%;
}
