@use "global" as *;

.button {
  display: inline-block;
  width: rem(478);
  font-family: $base-font-family;
  font-size: rem(24);
  font-weight: $max-bold;
  color: $white;
  letter-spacing: 0.1em;
  box-shadow: 0 7.69px 11.53px 0 rgba(35, 19, 5, 0.23);
  background-color: $orange;
  padding-top: rem(12);
  padding-right: rem(12);
  padding-bottom: rem(12);
  padding-left: 0;
  border-radius: rem(10);
  position: relative;
  text-align: center;

  @include mq(md) {
    width: rem(345);
    font-size: rem(16);
    padding-top: rem(9.5);
    padding-right: rem(9.5);
    padding-bottom: rem(9.5);
    padding-left: 0;
  }
}

.button:after {
  position: absolute;
  top: rem(31);
  right: rem(34);
  width: rem(9);
  height: rem(9);
  content: "";
  border-top: 1.61px solid $white;
  border-right: 1.61px solid $white;
  transform: translateY(-50%) rotate(45deg);

  @include mq(md) {
    top: rem(22);
    right: rem(19.6);
    width: rem(7);
    height: rem(7);
  }
}
