@use "global" as *;

.faq-list {
  background-color: $white2;
  padding-top: rem(34);
  padding-right: rem(30);
  padding-bottom: rem(32.5);
  padding-left: rem(40);
  border-radius: rem(20);

  @include mq(md) {
    padding-top: rem(30);
    padding-right: rem(20);
    padding-bottom: rem(22);
    padding-left: rem(20);
  }
}

// 仮
.faq-list--second {
  padding-top: rem(33);
  padding-right: rem(30);
  padding-bottom: rem(22);
  padding-left: rem(40);
}

.faq-list__question,
.faq-list__answer {
  display: grid;
  grid-template-columns: rem(33) 1fr;
  align-items: center;
  column-gap: rem(55);
  font-family: $third-font-family;
  font-weight: $bold;
  line-height: 1.5;

  @include mq(md) {
    column-gap: rem(34);
    align-items: start;
  }
}

.faq-list__question {
  color: $green2;
  font-size: rem(20);

  @include mq(md) {
    font-size: rem(14);
  }
}

.faq-list__badge {
  display: grid;
  place-items: center;
  width: rem(46);
  height: rem(46);
  border-radius: 50%;
  background-color: $white;
  color: $green2;
  font-family: $third-font-family;
  font-weight: $bold;
  font-size: rem(20);
  line-height: 1;
}

.faq-list__answer {
  margin-top: rem(31.5);
  color: $black2;
  font-size: rem(16);

  @include mq(md) {
    margin-top: rem(25);
    font-size: rem(14);
    font-weight: $medium;
  }
}

.faq-list__badge--answer {
  color: $red2;
}
