@use "global" as *;

.hamburger {
  position: fixed;
  z-index: 9999;
  top: rem(28);
  right: rem(20);
  width: rem(32);
  height: rem(24);
  cursor: pointer;
}

.hamburger.is-active {
  top: rem(40);
  right: rem(15);
}

.hamburger span {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 100%;
  height: rem(1);
  background-color: $black;
  transition: 0.3s transform, 0.3s background-color;
}

.hamburger.is-active span {
  background-color: $black;
}

.hamburger span:nth-child(1) {
  top: 0;
  transition: 0.3s transform;
}

.hamburger span:nth-child(2) {
  top: rem(12);
  transition: 0.3s opacity;
}

.hamburger span:nth-child(3) {
  top: rem(24);
  transition: 0.3s transform;
}

.hamburger.is-active span:nth-child(1) {
  top: 0;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 0;
  transform: rotate(45deg);
}
