@use "global" as *;

.heading {
  display: inline-block;
  font-family: $fourth-font-family;
  font-size: rem(48);
  font-weight: $bold;
  color: $black2;
  position: relative;
  // border-bottom: 3px solid $black2;

  @include mq(md) {
    font-size: clamp(rem(16), 5.33vw, rem(36));
    // border-bottom: 1px solid $black2;
  }
}

.heading::after {
  content: "";
  position: absolute;
  left: -2%;
  bottom: 6%;
  width: 103.2%;
  height: rem(3);
  background-color: $black2;

  @include mq(md) {
    height: rem(1);
  }
}

// wrapper用（配置のみ担当）
.heading-wrap {
  text-align: left;
}

.heading-wrap--center {
  text-align: center;
}

.heading-wrap--right {
  text-align: right;
}
