@use "global" as *;

.page-top-button {
  position: fixed;
  z-index: 9000;
  right: rem(40);
  bottom: rem(120);
  width: rem(60);
  height: rem(60);
  cursor: pointer;
  background-color: $background-green;
  border: 2px solid $white;
  border-radius: 50%;
  color: $white;
  font-size: rem(24);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    right: rem(15);
    bottom: rem(75);
    width: rem(28);
    height: rem(28);
    font-size: rem(13);
  }
}
